<!DOCTYPE html>
<html lang="en" ng-app="app">

  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
    <!-- Latest compiled and minified CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">

    <!-- Optional theme -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap-theme.min.css" integrity="sha384-rHyoN1iRsVXV4nD0JutlnGaslCJuC7uwjduW9SVrLvRYooPp2bWYgmgJQIXwl/Sp" crossorigin="anonymous">

    <!-- Latest compiled and minified JavaScript -->
    <!-- <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script> -->
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.6/angular.min.js"></script>

    <!-- importar scripts de angular -->
    <script src="./Modules/app.js"></script>
    <script src="./Services/dataProviderService.js"></script>
    <script src="./Controllers/tableController.js"></script>


  </head>

  <body>
    <div ng-controller="tableController as $ctrl" ng-init="$ctrl.init();">

      <div class="col-md-6 col-md-offset-3">
        <div class="row">
          <form name="personForm">
            <div class="form-group" ng-class="{ 'has-error' : personForm.name.$invalid && !personForm.name.$pristine }">
              <label for="name">Name</label>
              <input type="text" name="name" class="form-control" ng-model="$ctrl.currentPerson.name" required>
              <p ng-show="personForm.name.$invalid && !personForm.name.$pristine" class="help-block">Name is required.</p>
            </div>
            <div class="form-group" ng-class="{ 'has-error' : personForm.lastname.$invalid && !personForm.lastname.$pristine }">
              <label for="lastname">Last Name</label>
              <input type="text" name="lastname" class="form-control" ng-model="$ctrl.currentPerson.lastname" ng-minlength="3" ng-maxlength="10" required>
              <p ng-show="personForm.lastname.$invalid && !personForm.lastname.$pristine" class="help-block">Last Name is required.</p>
              <p ng-show="personForm.lastname.$error.minlength" class="help-block">Last is too short.</p>
              <p ng-show="personForm.lastname.$error.maxlength" class="help-block">Last is too long.</p>
            </div>
            <div class="form-group" ng-class="{ 'has-error' : personForm.money.$invalid && !personForm.money.$pristine }">
              <label for="money">Money</label>
              <input type="number" name="money" class="form-control" ng-model="$ctrl.currentPerson.money" max="1000" required>
              <p ng-show="personForm.money.$invalid && !personForm.money.$pristine" class="help-block">Name is required.</p>
              <p ng-show="personForm.money.$error.max" class="help-block">Max value is 1000.</p>
            </div>
            <button class="btn btn-primary" ng-click="$ctrl.addPerson();" ng-disabled="personForm.$invalid">Add</button>
          </form>
        </div>
        <div class="row">

          <table class="table table-striped">
            <thead>
              <tr>
                <th>#</th>
                <th>Name</th>
                <th>Last Name</th>
                <th>Money</th>
              </tr>
            </thead>
            <tbody>
              <tr ng-repeat="person in $ctrl.people">
                <td>{{person.id}}</td>
                <td>{{person.name}}</td>
                <td>{{person.lastname}}</td>
                <td>{{person.money}}</td>
              </tr>
            </tbody>
          </table>
        </div>
      </div>
    </div>

  </body>

</html>