<?xml version="1.0" encoding="utf-8"?>
<!--
  For more information on how to configure your ASP.NET application, please visit
  http://go.microsoft.com/fwlink/?LinkId=301880
  -->
<configuration>
  <configSections>
    <section name="chargify" type="ChargifyNET.Configuration.ChargifyAccountRetrieverSection" />
  </configSections>
  <chargify defaultAccount="DemoAccount">
    <accounts>
      <!-- The following account info needs to be customized to your own information -->
      <add name="DemoAccount" site="https://study-sandbox.chargify.com/" apiKey="456456456dfgdfgs" apiPassword="45645645dfgdf" sharedKey="45645645dfg" />
    </accounts>
  </chargify>
 
</configuration>